extends layout

block title
  title doodle-canvas

block body
  select#drawMethod
    option(value='line' selected) line
    option(value='circle') circle

  input#erase(type="button" value="erase")

  canvas#canvas(width="600" height="400")
